
.minListe {
  margin: 0 10px;

  .addNewWish {
    display: flex;
    justify-content: center;

    .addNewWishButton {
      align-self: center;
      background-color: rgba(0, 190, 7, 0.54);
    }
  }

  .minOnskeliste {
    .wishText {
      max-width: 80%;
      @media only screen and (max-width: 400px) {
        max-width: 60%;
      }
    }

    .antallOnsker {
      display: flex;
      align-content: flex-start;
      padding: 0 0 10px 16px;
      font-size: 0.875rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.43;
      letter-spacing: 0.01071em;
    }

    .MuiDialog-paper {
      margin: 32px 5px;
    }

    .wishIconMenu {
      //margin-left: 150px;
    }
  }

  .antallOnskerTatt {
    display: flex;
    align-self: flex-start;
    padding: 0 0 10px 29px;
  }
}

.stjerne {
  margin-right: 5px;
  cursor: pointer;

  &.favoritt {
    color: #edc600;
  }
  &.favorittTatt {
    color: gold;
  }
}

